/*******************************************************************************
 ~> Mixins */
/*******************************************************************************
 ~> Main */
.container .panel {
  padding: 0;
}
.container .panel h6 {
  font-weight: 500;
  padding: .6rem 1.15rem .35rem;
}
.container .panel a {
  margin: 0 1.15em;
}
.container .panel a:first-of-type {
  margin-top: .8rem;
}
.container .panel a:last-of-type {
  margin-bottom: 1rem;
}
.container .panel h6 {
  box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  background-color: #03a9f4;
  color: white;
}
