/**
  * @desc Material Design Dark theme stylesheet
  * @author Adam Houston
  * @required --
*/
/*******************************************************************************
 ~> Variables */
/*******************************************************************************
 ~> Main */
html,
body {
  background-color: #303030;
  color: white;
  font-size: 13px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.container .panel {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  background-color: #424242;
  border-radius: .2em;
}
.container .panel a {
  color: white;
  display: block;
  margin: 0 1.15rem;
  text-decoration: none;
}
.container .panel a:hover {
  color: #ffffff;
}
.container .panel a:first-of-type {
  margin-top: .8rem;
}
.container .panel a:last-of-type {
  margin-bottom: 1rem;
}
.container .panel h6 {
  font-weight: 500;
  margin-bottom: 1rem;
  padding: .6rem 1.15rem .35rem;
}
.container .panel .panel-heading {
  padding: .6rem 1.15rem .35rem;
  margin-bottom: 1rem;
}
.container .panel .panel-heading h6 {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.container .panel .panel-heading a {
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 1rem;
  margin: 0!important;
  padding: 0.25em 0.1em;
}
.container .panel:hover,
.container .panel:focus {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
}
.container .panel[class*="panel-"],
.container .panel[class^="panel-"] {
  /* All Colored Panels */
}
.container .panel[class*="panel-"] > h6,
.container .panel[class^="panel-"] > h6 {
  /* Heading with no Menu Button */
  -webkit-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  color: white;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}
.container .panel[class*="panel-"] > .panel-heading,
.container .panel[class^="panel-"] > .panel-heading {
  /* Heading with Menu Button */
  -webkit-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  color: white;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}
.container .panel[class*="panel-"] > .panel-heading a,
.container .panel[class^="panel-"] > .panel-heading a {
  /* Menu Button */
  color: white;
  font-size: 1.5rem;
}
.container .panel-blue > h6,
.container .panel-blue > .panel-heading {
  background-color: #03a9f4;
}
.container .row {
  margin-bottom: 1rem;
}
.container #clock {
  color: #03a9f4;
  font-size: 8em;
  text-align: center;
}
@media (min-width: 550px) {
  .container #clock {
    margin-top: 5rem;
  }
}
.container #search {
  padding: 0!important;
}
.container #search input {
  font-size: 1.4em;
  border: 0!important;
}
.container #rssFeeds .panel {
  min-height: 11.75em;
}
.container .columns {
  margin-left: 2%;
}
.container .columns:first-child {
  margin-left: 0;
}
.container .three.columns {
  width: 23.5%;
}
.container .four.columns {
  width: 32%;
}
.container .six.columns {
  width: 49%;
}
/*******************************************************************************
 ~ Buttons */
.btn-fixed-bottom {
  bottom: 2rem;
  position: fixed;
  right: 1.5rem;
}
.btn-fixed-bottom .btn-circle {
  z-index: 998;
}
.btn {
  border-radius: .3em;
  border: 0;
  color: white;
  display: inline-block;
  font-size: 1.1em;
  padding: .1em 3em;
  text-transform: uppercase;
}
.btn-circle {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 4.5em;
  width: 4.5em;
}
.btn-circle i {
  font-size: 2.5em;
  line-height: 1.8em;
  width: inherit;
  text-align: center;
}
.btn[class*="btn-"],
.btn[class^="btn-"] {
  /* all colored buttons */
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  color: white;
}
.btn[class*="btn-"]:hover,
.btn[class^="btn-"]:hover,
.btn[class*="btn-"]:focus,
.btn[class^="btn-"]:focus {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  color: white;
}
.btn-blue {
  background-color: #03a9f4;
}
.btn-red {
  background-color: #ff5252;
}
/*******************************************************************************
 ~> Floating Action Buttons */
.fab ul {
  bottom: 4.5em;
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  width: 4.5em;
  z-index: 990;
}
.fab li {
  list-style: none;
  margin-bottom: 1em;
}
.fab .btn-circle:hover,
.fab .btn-cirle:focus {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  color: white;
}
.fab ul li .btn-circle {
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  display: inline-block;
  height: 3.5rem;
  opacity: 0;
  transform: scale(0.5);
  width: 3.5rem;
}
.fab ul li .btn-circle i {
  font-size: 2em;
  line-height: 1.7em;
}
.fab-active ul li .btn-circle {
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  opacity: 1;
  transform: scale(1) translateY(0);
}
.fab-active ul li .btn-circle:after {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: 0.5em;
  color: white;
  content: attr(data-tooltip);
  right: 4em;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
}
/*******************************************************************************
 ~> Inputs */
form .row {
  margin-bottom: 1.6rem;
}
form .row:last-of-type {
  margin-bottom: 0;
}
input[type="text"],
select,
textarea {
  background-color: #424242;
  color: white;
}
/*******************************************************************************
 ~> Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.modal .modal-content {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  background-color: #424242;
  border-radius: .5em;
  display: block;
  margin: 3em auto;
  width: 60%;
}
.modal .modal-content .modal-header,
.modal .modal-content .modal-body,
.modal .modal-content .modal-footer {
  padding: 1em;
}
.modal .modal-content .modal-header {
  padding-bottom: 0;
  margin-bottom: 1.5em;
}
.modal .modal-content .modal-header h6 {
  margin: 0;
  font-weight: 600;
}
.modal .modal-content .modal-body {
  padding: 1em 4em;
}
.modal .modal-content .modal-footer {
  text-align: right;
}
.modal .modal-content .modal-footer button {
  margin-bottom: 0;
}
.modal-blue .modal-content .modal-header {
  background-color: #03a9f4;
  color: white;
}
.modal[class*="modal-"],
.modal[class^="modal-"] {
  /* all colored modals */
}
.modal[class*="modal-"] .modal-content .modal-header,
.modal[class^="modal-"] .modal-content .modal-header {
  -webkit-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}
.modal[class*="modal-"] .modal-content .modal-header h6,
.modal[class^="modal-"] .modal-content .modal-header h6 {
  color: white;
}
.modal.in {
  display: block;
}
/*******************************************************************************
 ~> Tabs */
ul.tabs {
  list-style: none;
  font-size: 1.1em;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
ul.tabs li {
  padding: 1.2em 0 0.5em;
}
ul.tabs li a {
  color: white;
  text-decoration: none;
}
ul.tabs li.columns {
  margin: 0;
}
ul.tabs li.two.columns {
  width: 16.6666%;
}
ul.tabs li.active {
  border-bottom: inset 3px #ff5252;
}
.tab-pane {
  display: none;
}
.tab-pane .row {
  margin-bottom: 1.6em;
}
.tab-pane .row:last-of-type {
  margin-bottom: 0;
}
.tab-pane.active {
  display: block;
}
/*******************************************************************************
 ~> Mixins */
/*******************************************************************************
 ~> Element Tweaks */
form {
  margin: 0;
}
input {
  margin: 0;
}
