/*******************************************************************************
 ~> Variables */
/*******************************************************************************
 ~> Main */
html {
  background-color: #e1e1e1;
}
html,
body {
  color: #212121;
  font-size: 13px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.container .panel {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  background-color: #fafafa;
  border-radius: .25em;
}
.container .panel a {
  color: #212121;
  display: block;
  margin: 0 1.15rem;
  text-decoration: none;
}
.container .panel a:hover {
  color: #545454;
}
.container .panel a:first-of-type {
  margin-top: .8rem;
}
.container .panel a:last-of-type {
  margin-bottom: 1rem;
}
.container .panel h6 {
  font-weight: 500;
  margin-bottom: 1rem;
  padding: .6rem 1.15rem .35rem;
}
.container .panel .panel-heading {
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  padding: .6rem 1.15rem .35rem;
  margin-bottom: 1rem;
}
.container .panel .panel-heading h6 {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.container .panel .panel-heading a {
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  margin: 0!important;
  padding: 0.25em 0.1em;
}
.container .panel:hover,
.container .panel:focus {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
}
.container .row {
  margin-bottom: 1rem;
}
.container #clock {
  font-size: 8em;
  text-align: center;
}
@media (min-width: 550px) {
  .container #clock {
    margin-top: 5rem;
  }
}
.container #search {
  padding: 0 1em;
}
.container #search input {
  font-size: 1.4em;
  border: 0!important;
}
.container #rssFeeds .panel {
  min-height: 11.75em;
}
.container .columns {
  margin-left: 2%;
}
.container .columns:first-child {
  margin-left: 0;
}
.container .three.columns {
  width: 23.5%;
}
.container .four.columns {
  width: 32%;
}
.container .six.columns {
  width: 49%;
}
/*******************************************************************************
 ~> Element Tweaks */
form {
  margin: 0;
}
input {
  margin: 0;
}
/*******************************************************************************
 ~> Inputs */
form .row {
  margin-bottom: 1.6rem;
}
form .row:last-of-type {
  margin-bottom: 0;
}
input[type="text"],
select,
textarea {
  background-color: #fafafa;
  border: 0;
  border-bottom: 1px solid #bababa;
  border-radius: 0;
  color: #212121;
  padding: 0;
}
input[type="text"]:focus,
select:focus,
textarea:focus {
  border: 0;
}
input[type="text"].primary-blue:focus,
select.primary-blue:focus,
textarea.primary-blue:focus {
  border-bottom: 1px solid #03a9f4;
}
input[type="text"].primary-purple:focus,
select.primary-purple:focus,
textarea.primary-purple:focus {
  border-bottom: 1px solid #9c27b0;
}
input[type="text"].primary-indigo:focus,
select.primary-indigo:focus,
textarea.primary-indigo:focus {
  border-bottom: 1px solid #3f51b5;
}
input[type="text"].primary-teal:focus,
select.primary-teal:focus,
textarea.primary-teal:focus {
  border-bottom: 1px solid #009688;
}
input[type="text"].primary-green:focus,
select.primary-green:focus,
textarea.primary-green:focus {
  border-bottom: 1px solid #4caf50;
}
input[type="text"].primary-yellow:focus,
select.primary-yellow:focus,
textarea.primary-yellow:focus {
  border-bottom: 1px solid #ffeb3b;
}
input[type="text"].primary-orange:focus,
select.primary-orange:focus,
textarea.primary-orange:focus {
  border-bottom: 1px solid #ff5722;
}
input[type="text"].primary-red:focus,
select.primary-red:focus,
textarea.primary-red:focus {
  border-bottom: 1px solid #f44336;
}
/*******************************************************************************
 ~ Buttons */
.btn {
  border-radius: .3em;
  border: 0;
  color: #212121;
  display: inline-block;
  font-size: 1.1em;
  letter-spacing: .2em;
  padding: .1em 3em;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}
.btn-circle {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 4.5em;
  position: relative;
  width: 4.5em;
}
.btn-circle i {
  font-size: 2.5em;
  line-height: 1.8em;
  width: inherit;
  text-align: center;
}
.btn,
.btn-circle {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: box-shadow 0.2s linear, background-color 0.2s linear;
  -moz-transition: box-shadow 0.2s linear, background-color 0.2s linear;
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
}
.btn:hover,
.btn-circle:hover,
.btn:focus,
.btn-circle:focus {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: box-shadow 0.2s linear, background-color 0.2s linear;
  -moz-transition: box-shadow 0.2s linear, background-color 0.2s linear;
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
}
.btn-fixed-bottom {
  bottom: 2rem;
  position: fixed;
  right: 1.5rem;
}
.btn-fixed-bottom .btn-circle {
  z-index: 998;
}
/*******************************************************************************
 ~> Floating Action Buttons */
.fab ul {
  bottom: 4.5em;
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  width: 4.5em;
  z-index: 990;
}
.fab li {
  list-style: none;
  margin-bottom: 1em;
}
.fab .btn-circle:hover,
.fab .btn-cirle:focus {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  color: white;
}
.fab ul li .btn-circle {
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  display: inline-block;
  height: 3.5rem;
  opacity: 0;
  transform: scale(0.5);
  width: 3.5rem;
}
.fab ul li .btn-circle i {
  font-size: 2em;
  line-height: 1.7em;
}
.fab-active ul li .btn-circle {
  -webkit-transition: -webkit-transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, box-shadow 0.2s linear;
  opacity: 1;
  transform: scale(1);
}
.fab-active ul li .btn-circle:after {
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 5px;
  bottom: 0.5em;
  color: white;
  content: attr(data-tooltip) !important;
  right: 4em;
  padding: 5px 15px;
  position: absolute;
  z-index: 999;
}
/*******************************************************************************
 ~> Modal */
.modal {
  -webkit-transition: opacity 0.25s, visibility 0.25s;
  -moz-transition: opacity 0.25s, visibility 0.25s;
  transition: opacity 0.25s, visibility 0.25s;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.modal .modal-content {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-transform 0.4s linear, opacity 0.4s linear, box-shadow 0.4s linear;
  -moz-transition: -moz-transform 0.4s linear, opacity 0.4s linear, box-shadow 0.4s linear;
  transition: transform 0.4s linear, opacity 0.4s linear, box-shadow 0.4s linear;
  background-color: #fafafa;
  border-radius: .5em;
  display: block;
  margin: 3em auto;
  width: 60%;
  opacity: 0.5;
  transform: scale(0.6);
}
.modal .modal-content .modal-body,
.modal .modal-content .modal-footer {
  padding: 1em;
}
.modal .modal-content .modal-header {
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  padding-bottom: 0;
  margin-bottom: 1.5em;
}
.modal .modal-content .modal-header .modal-heading {
  padding: 1rem 1.5rem 0;
}
.modal .modal-content .modal-header .modal-heading h6 {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.modal .modal-content .modal-header .modal-heading a {
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  padding: 0.25em 0.1em;
  margin: 0 0.4em;
}
.modal .modal-content .modal-body {
  padding: 1em 4em;
}
.modal .modal-content .modal-footer {
  text-align: right;
}
.modal .modal-content .modal-footer button {
  margin-bottom: 0;
}
.modal-header[class*="modal-"],
.modal-header[class^="modal-"] {
  /* all colored modals */
  -webkit-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
}
.modal-header[class*="modal-"] .modal-heading h6,
.modal-header[class^="modal-"] .modal-heading h6,
.modal-header[class*="modal-"] .modal-heading a,
.modal-header[class^="modal-"] .modal-heading a {
  color: white;
}
.modal.in {
  -webkit-transition: opacity 0.25s, visibility 0.25s;
  -moz-transition: opacity 0.25s, visibility 0.25s;
  transition: opacity 0.25s, visibility 0.25s;
  opacity: 1;
  visibility: visible;
}
.modal.in .modal-content {
  opacity: 1;
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s linear, opacity 0.4s linear, box-shadow 0.4s linear;
  -moz-transition: -moz-transform 0.4s linear, opacity 0.4s linear, box-shadow 0.4s linear;
  transition: transform 0.4s linear, opacity 0.4s linear, box-shadow 0.4s linear;
}
/*******************************************************************************
 ~> Tabs */
ul.tabs {
  list-style: none;
  font-size: 1.1em;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
ul.tabs li {
  padding: 1.2em 0 0.5em;
}
ul.tabs li a {
  color: white;
  text-decoration: none;
}
ul.tabs li.columns {
  margin: 0;
}
ul.tabs li.two.columns {
  width: 16.6666%;
}
ul.tabs li.active {
  border-bottom: inset 3px #ff5252;
}
.tab-pane {
  display: none;
}
.tab-pane .row {
  margin-bottom: 1.6em;
}
.tab-pane .row:last-of-type {
  margin-bottom: 0;
}
.tab-pane.active {
  display: block;
}
/*******************************************************************************
 ~> Material Design Primary and Accent Colors */
.primary-blue {
  background-color: #03a9f4;
}
.primary-purple {
  background-color: #9c27b0;
}
.primary-indigo {
  background-color: #3f51b5;
}
.primary-teal {
  background-color: #009688;
}
.primary-green {
  background-color: #4caf50;
}
.primary-yellow {
  background-color: #ffeb3b;
}
.primary-orange {
  background-color: #ff5722;
}
.primary-red {
  background-color: #f44336;
}
.accent-blue {
  background-color: #03a9f4;
}
.accent-purple {
  background-color: #e040fb;
}
.accent-indigo {
  background-color: #536dfe;
}
.accent-teal {
  background-color: #009688;
}
.accent-green {
  background-color: #4caf50;
}
.accent-yellow {
  background-color: #ffeb3b;
}
.accent-orange {
  background-color: #ff5722;
}
.accent-red {
  background-color: #ff5252;
}
.accent-blue:hover {
  background-color: #0ab1fc;
}
.accent-purple:hover {
  background-color: #e24ffb;
}
.accent-indigo:hover {
  background-color: #627afe;
}
.accent-teal:hover {
  background-color: #00a596;
}
.accent-green:hover {
  background-color: #55b559;
}
.accent-yellow:hover {
  background-color: #ffed4a;
}
.accent-orange:hover {
  background-color: #ff6331;
}
.accent-red:hover {
  background-color: #ff6161;
}
.panel-heading[class*="primary-"],
.panel-heading[class^="primary-"] {
  -webkit-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  color: white;
}
.panel-heading[class*="primary-"] a,
.panel-heading[class^="primary-"] a {
  color: white;
}
.panel-heading[class*="primary-"] a:hover,
.panel-heading[class^="primary-"] a:hover {
  color: white;
}
.btn[class*="accent-"],
.btn[class^="accent-"] {
  color: white;
}
#clock[class*="accent-"],
#clock[class^="accent-"],
#clock[class*="primary-"],
#clock[class^="primary-"] {
  background-color: transparent;
  color: #212121;
}
/*******************************************************************************
 ~> Mixins */
/*******************************************************************************
 ~> Material Design Ripple Button Animation */
.ripple {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  pointer-events: none;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.ripple.show {
  -webkit-animation: ripple 0.5s ease-out;
  -moz-animation: ripple 0.5s ease-out;
  -o-animation: ripple 0.5s ease-out;
  animation: ripple 0.5s ease-out;
}
@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@-ms-keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@-o-keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes ripple {
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
