/**
  * @desc Material Design Light theme stylesheet
  * @author Adam Houston
  * @required --
*/

/*******************************************************************************
 ~> Variables */
@text-primary: #212121;
@text-primary-lighter: lighten(@text-primary, 20%);
@text-secondary: white;

@primary-darker: darken(@primary, 20%);
@primary: #03A9F4;
@primary-lighter: lighten(@primary, 40%);
@secondary: #ff5252;
@secondary-darker: darken(@secondary, 20%);

@divider: #B6B6B6;

@panel-bg: #FAFAFA;
@panel-bg-darker: darken(@panel-bg, 10%);

@screen-sm: 480px;
@screen-md: 768px;
@screen-lg: 1200px;

/*******************************************************************************
 ~> Main */
 html, body {
   background-color: @panel-bg-darker;
   color: @text-primary;
   font-size: 13px;
   font-family: 'Open Sans', serif;
   font-weight: 300;
   padding: 0;
   margin: 0;
 }

.container {
    .panel {
        .shadow();
        .shadow-animate-shorter();
        background-color: @panel-bg;
        border-radius: .2em;

        a {
            color: @text-primary;
            display: block;
            margin: 0 1.15rem;
            text-decoration: none;
        }
        a:hover {
            color: @text-primary-lighter;
        }
        a:first-of-type {
            margin-top: .8rem;
        }
        a:last-of-type {
            margin-bottom: 1rem;
        }
        h6 {
            font-weight: 500;
            margin-bottom: 1rem;
            padding: .6rem 1.15rem .35rem;
        }
        .panel-heading {
            padding: .6rem 1.15rem .35rem;
            margin-bottom: 1rem;
            h6 {
                display: inline-block;
                margin: 0;
                padding: 0;
            }
            a {
                cursor: pointer;
                display: inline-block;
                float: right;
                font-size: 1rem;
                margin: 0!important;
                padding: 0.25em 0.1em;
            }
        }
    } // .panel end
    .panel:hover, .panel:focus {
        .shadow-darker();
        .shadow-animate-shorter();
    }
    .panel[class*="panel-"],
    .panel[class^="panel-"] { /* All Colored Panels */
        > h6 { /* Heading with no Menu Button */
            .inset-shadow();
            color: @text-secondary;
        }
        > .panel-heading { /* Heading with Menu Button */
            .inset-shadow();
            color: @text-secondary;
        }
        > .panel-heading a { /* Menu Button */
            color: @text-secondary;
            font-size: 1.5rem;
        }
    }
    .panel-blue {
        > h6, > .panel-heading {
            background-color: @primary;
        }
    }

    .row {
        margin-bottom: 1rem;
    }

    #clock {
        font-size: 8em;
        text-align: center;

        @media (min-width: 550px) {
            margin-top: 5rem;
        }
    }
    #search {
        padding: 0!important;

        input {
            font-size: 1.4em;
            border: 0!important;
        }
    }
}

/*******************************************************************************
 ~ Buttons */
.btn-fixed-bottom {
    bottom: 2rem;
    position: fixed;
    right: 1.5rem;

    .btn-circle {
        z-index: 998;
    }
}

.btn-circle {
    .shadow();
    .shadow-animate-shorter();
    border-radius: 50%;
    color: @text-secondary;
    cursor: pointer;
    display: inline-block;
    height: 4.5em;
    width: 4.5em;

    i {
        font-size: 2.5em;
        line-height: 1.8em;
        width: inherit;
        text-align: center;
    }
}
.btn-circle:hover, btn-circle:focus {
    .shadow-darker();
    .shadow-animate-shorter();
    color: @text-secondary;
}

.btn-blue {
    background-color: @primary;
}
.btn-red {
    background-color: @secondary;
}

/*******************************************************************************
 ~> Floating Action Buttons */
ul {
    bottom: 4.5em;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    width: 4.5em;
    z-index: 990;
}
ul li {
    list-style: none;
    margin-bottom: 1em;
}
ul li .btn-circle {
    .transform-animate();
    display: inline-block;
    height: 3.5rem;
    opacity: 0;
    transform: scale(0.5);
    width: 3.5rem;

    i {
        font-size: 2em;
        line-height: 1.7em;
    }
}

.fab-active ul li {             // When FAB is hovered
    .btn-circle {
        .transform-animate();
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    .btn-circle:after {         // Tooltip
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 0.5em;
        color: @text-secondary;
        content: attr(data-tooltip);
        right: 4em;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
    }

    .btn-circle:hover, btn-circle:focus {
        .shadow-darker();
        .shadow-animate-shorter();
        color: @text-secondary;
    }
}

/*******************************************************************************
 ~> Inputs */
input[type="text"], select, textarea {
    background-color: @panel-bg;
    color: @text-primary;
}

/*******************************************************************************
 ~> Grid */
.columns {
    margin-left: 2%;
}
.columns:first-child {
    margin-left: 0;
}
.three.columns { width: 23.5%; }
.four.columns  { width: 32%; }
.six.columns   { width: 49%; }

/*******************************************************************************
 ~> Mixins */
.shadow (@shadow-color: rgba(50, 50, 50, .45)) {
    -webkit-box-shadow: 0px 3px 3px 0px @shadow-color;
       -moz-box-shadow: 0px 3px 3px 0px @shadow-color;
            box-shadow: 0px 3px 3px 0px @shadow-color;
}
.shadow-darker (@shadow-color: rgba(50, 50, 50, .7)) {
    -webkit-box-shadow: 0px 3px 3px 0px @shadow-color;
       -moz-box-shadow: 0px 3px 3px 0px @shadow-color;
            box-shadow: 0px 3px 3px 0px @shadow-color;
}

.inset-shadow (@shadow-color: rgba(50, 50, 50, .2)) {
    -webkit-box-shadow: 0 1px 0 0 @shadow-color, inset 0 -3px 0 0 @shadow-color;
       -moz-box-shadow: 0 1px 0 0 @shadow-color, inset 0 -3px 0 0 @shadow-color;
            box-shadow: 0 1px 0 0 @shadow-color, inset 0 -3px 0 0 @shadow-color;
}

.shadow-animate (@animate-length: 1s) {
    -webkit-transition: box-shadow @animate-length linear;
       -moz-transition: box-shadow @animate-length linear;
            transition: box-shadow @animate-length linear;
}
.shadow-animate-shorter (@animate-length: .5s) {
    -webkit-transition: box-shadow @animate-length linear;
       -moz-transition: box-shadow @animate-length linear;
            transition: box-shadow @animate-length linear;
}

.transform-animate (@animate-length: .2s) {
    -webkit-transition: -webkit-transform @animate-length linear,
                            opacity @animate-length linear,
                            box-shadow @animate-length linear;
       -moz-transition: -moz-transform @animate-length linear,
                            opacity @animate-length linear,
                            box-shadow @animate-length linear;
            transition: transform @animate-length linear,
                            opacity @animate-length linear,
                            box-shadow @animate-length linear;
}

/*******************************************************************************
 ~> Element Tweaks */
form { margin: 0; }
input { margin: 0; }
