/*******************************************************************************
 ~> Variables */
/*******************************************************************************
 ~> Main */
html,
body {
  background-color: #e1e1e1;
  color: #212121;
  font-size: 13px;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.container .panel {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  background-color: #fafafa;
  border-radius: .2em;
}
.container .panel a {
  color: #212121;
  display: block;
  margin: 0 1.15rem;
  text-decoration: none;
}
.container .panel a:hover {
  color: #545454;
}
.container .panel a:first-of-type {
  margin-top: .8rem;
}
.container .panel a:last-of-type {
  margin-bottom: 1rem;
}
.container .panel h6 {
  font-weight: 500;
  margin-bottom: 1rem;
  padding: .6rem 1.15rem .35rem;
}
.container .panel:hover,
.container .panel:focus {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
}
.container [class*="panel-"] h6,
.container [class^="panel-"] h6 {
  /* All Colored Panels */
  -webkit-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.2), inset 0 -3px 0 0 rgba(50, 50, 50, 0.2);
  color: white;
}
.container .panel-blue h6 {
  background-color: #03a9f4;
}
.container .row {
  margin-bottom: 1rem;
}
.container #clock {
  font-size: 8em;
  text-align: center;
}
@media (min-width: 550px) {
  .container #clock {
    margin-top: 5rem;
  }
}
.container #search {
  padding: 0!important;
}
.container #search input {
  font-size: 1.4em;
  border: 0!important;
}
/*******************************************************************************
 ~ Buttons */
.btn-fixed-bottom {
  bottom: 2rem;
  position: fixed;
  right: 1.5rem;
}
.btn-fixed-bottom .btn-circle {
  z-index: 998;
}
.btn-circle {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.45);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 4.5em;
  width: 4.5em;
}
.btn-circle i {
  font-size: 2.5em;
  line-height: 1.8em;
  width: inherit;
  text-align: center;
}
.btn-circle:hover,
btn-circle:focus {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.7);
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  color: white;
}
.btn-blue {
  background-color: #03a9f4;
}
.btn-red {
  background-color: #ff5252;
}
/*******************************************************************************
 ~> Floating Action Buttons */
ul {
  bottom: 4.5em;
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  width: 4.5em;
}
ul li {
  list-style: none;
  margin-bottom: 1em;
}
ul li .btn-circle {
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  transition: transform 0.2s linear;
  display: inline-block;
  height: 3.5rem;
  opacity: 0;
  transform: scale(0.7) translateY(30px);
  width: 3.5rem;
}
ul li .btn-circle i {
  font-size: 2em;
  line-height: 1.7em;
}
.fab-active ul li .btn-circle {
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  transition: transform 0.2s linear;
  opacity: 1;
  transform: scale(1) translateY(0);
}
/*******************************************************************************
 ~> Grid */
.columns {
  margin-left: 2%;
}
.columns:first-child {
  margin-left: 0;
}
.three.columns {
  width: 23.5%;
}
.four.columns {
  width: 32%;
}
.six.columns {
  width: 49%;
}
/*******************************************************************************
 ~> Mixins */
/*******************************************************************************
 ~> Element Tweaks */
form {
  margin: 0;
}
input {
  margin: 0;
}
