<!DOCTYPE html>
<html ng-app="Startpage" ng-controller="MainController" ng-init="init()"
  ng-style="{'background-image': 'url(' + userPrefs.background + ')'}">
<head>
  <meta charset="utf-8">
  <title>AH | Startpage</title>
  <link rel="stylesheet" href="css/Skeleton/normalize.css">
  <link rel="stylesheet" href="css/Skeleton/skeleton.css">
  <link rel="stylesheet" href="css/material-font.min.css">
  <link rel="stylesheet" href="{{ theme }}" id="materialcss">
  <script src="js/angularjs/angular.min.js"></script>
  <script src="js/angularjs/ngStorage.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div id="clock" ng-class="userPrefs.primaryColor" ng-style="{'color': userPrefs.clockColor}">
        {{ date | date:'HH:mm:ss' }}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns panel panel-blue" id="search">
        <!-- TODO: Fix Google Search and add more search engines -->
        <form action="https://www.google.com/search/#q=">
          <input class="u-full-width" type="Text" name="search"
            placeholder="Google"\>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="three columns panel">
        <div class="panel-heading" ng-class="userPrefs.primaryColor">
          <h6>Personal</h6>
          <a class="zmdi zmdi-more-vert" href="#tab-panel1"></a>
        </div>
        <a ng-repeat="item in userPanel1" href="{{item.url}}">{{item.title}}</a>
      </div>
      <div class="three columns panel">
        <div class="panel-heading" ng-class="userPrefs.primaryColor">
          <h6>Boards</h6>
          <a class="zmdi zmdi-more-vert" href="#tab-panel2"></a>
        </div>
        <a ng-repeat="item in userPanel2" href="{{item.url}}">{{item.title}}</a>
      </div>
      <div class="three columns panel">
        <div class="panel-heading" ng-class="userPrefs.primaryColor">
          <h6>Shopping</h6>
          <a class="zmdi zmdi-more-vert" href="#tab-panel3"></a>
        </div>
        <a ng-repeat="item in userPanel3" href="{{item.url}}">{{item.title}}</a>
      </div>
      <div class="three columns panel">
        <div class="panel-heading" ng-class="userPrefs.primaryColor">
          <h6>News</h6>
          <a class="zmdi zmdi-more-vert" href="#tab-panel4"></a>
        </div>
        <a ng-repeat="item in userPanel4" href="{{item.url}}">{{item.title}}</a>
      </div>
    </div>
    <div class="row" id="rssFeeds">
      <!-- TODO: RSS feeds using AngularJS -->
      <div class="four columns panel" ng-class="userPrefs.primaryColor" id="rssOne">
        <div class="panel-heading" ng-class="userPrefs.primaryColor">
          <h6>BBC News</h6>
        </div>
        <a ng-repeat="feed in feed1.item | filter:filterText | limitTo: 4"
          href="{{feed.link}}">
          {{feed.title}}
        </a>
      </div>
      <div class="four columns panel" ng-class="userPrefs.primaryColor" id="rssTwo">
        <div class="panel-heading" ng-class="userPrefs.primaryColor">
          <h6>BBC Technology</h6>
        </div>
        <a ng-repeat="feed in feed2.item | filter:filterText | limitTo: 4"
          href="{{feed.link}}">
          {{feed.title}}
        </a>
      </div>
      <div class="four columns panel"  ng-class="userPrefs.primaryColor"id="rssThree">
        <div class="panel-heading" ng-class="userPrefs.primaryColor">
          <h6>Sky Sports</h6>
        </div>
        <a ng-repeat="feed in feed3.item | filter:filterText | limitTo: 4"
          href="{{feed.link}}">
          {{feed.title}}
        </a>
      </div>
    </div>
    <!--<div class="row">
      <div class="twelve columns panel" ng-class="userPrefs.primaryColor">
        <div class="panel-heading" ng-class="userPrefs.primaryColor">
          <h6>Weather</h6>
        </div>
        TODO: Decide if Weather should be added
        if so, implement it in rss.js
    </div>
  </div>-->
</div><!-- /container -->

<!-- Floating Action Button -->
<div class="fab btn-fixed-bottom" id="fab">
  <a class="btn-fixed-bottom btn-circle" ng-class="userPrefs.accentColor">
    <i class="zmdi zmdi-edit"></i>
  </a>
  <ul>
    <li>
      <a class="btn-circle" ng-class="userPrefs.primaryColor"
        href="http://github.com/phazyy/Startpage" data-tooltip="Github">
        <i class="zmdi zmdi-github"></i>
      </a>
    </li>
    <li>
      <a class="btn-circle" ng-class="userPrefs.primaryColor"
        href="#tab-panel1" data-tooltip="Visuals" id="fab-visuals">
        <i class="zmdi zmdi-eye"></i>
      </a>
    </li>
  </ul>
</div><!-- /fab -->

<!-- User Settings Modal -->
<div class="modal" id="modal-settings" style="visibility: hidden;">
<div class="modal-content">
  <div class="modal-header" ng-class="userPrefs.primaryColor">
    <!-- TODO: implement buttons for load and an overflow menu -->
    <div class="row modal-heading">
      <h6>User Settings</h6>
      <a ng-click="init()" class="zmdi zmdi-close" id="btn-modal-cancel"></a>
      <span class="zmdi zmdi-upload">
        <input ng-click="upload()" id="ul" type="file">
      </span>
      <a ng-click="download()" id="dl" class="zmdi zmdi-download"></a>
    </div>
    <div class="row">
      <ul class="tabs twelve columns">
        <li class="two columns">
          <a class="tab" href="#tab-prefs">Preferences</a>
        </li>
        <li class="two columns active">
          <a class="tab" href="#tab-rss">RSS Feeds</a>
        </li>
        <li class="two columns">
          <a class="tab" href="#tab-panel1">Panel 1</a>
        </li>
        <li class="two columns">
          <a class="tab"  href="#tab-panel2">Panel 2</a>
        </li>
        <li class="two columns">
          <a class="tab" href="#tab-panel3">Panel 3</a>
        </li>
        <li class="two columns">
          <a class="tab" href="#tab-panel4">Panel 4</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-body">
    <div id="tab-prefs" class="tab-pane">
      <div class="row">
        <label for="tbPrimaryColor">Primary Color</label>
        <select ng-model="userPrefs.primaryColor" class="u-full-width"
          id="tbPrimaryColor">
          <option value="primary-blue" autofocus>Blue</option>
          <option value="primary-purple">Purple</option>
          <option value="primary-indigo">Indigo</option>
          <option value="primary-teal">Teal</option>
          <option value="primary-green">Green</option>
          <option value="primary-yellow">Yellow</option>
          <option value="primary-orange">Orange</option>
          <option value="primary-red">Red</option>
        </select>
      </div>
      <div class="row">
        <label for="tbSecondaryColor">Secondary Color</label>
        <select ng-model="userPrefs.accentColor" class="u-full-width"
          id="tbSecondaryColor">
          <option value="accent-blue">Blue</option>
          <option value="accent-purple">Purple</option>
          <option value="accent-indigo">Indigo</option>
          <option value="accent-teal">Teal</option>
          <option value="accent-green">Green</option>
          <option value="accent-yellow">Yellow</option>
          <option value="accent-orange">Orange</option>
          <option value="accent-red" autofocus>Red</option>
        </select>
      </div>
      <div class="row">
        <label for="tbClock">Clock Color:</label>
        <select ng-model="userPrefs.clockColor" class="u-full-width" id="tbClock">
          <option value="" autofocus>Time Controlled (Default)</option>
          <option value="white">White</option>
          <option value="black">Black</option>
          <option value="#424242">Grey</option>
        </select>
      </div>
      <div class="row">
        <label for="tbTheme">Material Design Theme:</label>
        <select ng-model="userPrefs.theme" class="u-full-width" id="tbTheme">
          <option value="0" autofocus>Time Controlled (Default)</option>
          <option value="1">Light Theme</option>
          <option value="2">Dark Theme</option>
        </select>
      </div>
      <div class="row">
        <label for="tbBg">Background:</label>
        <select ng-model="userPrefs.background" class="u-full-width" id="tbBg">
          <option value="" autofocus>Time Controlled (Default)</option>
          <option value="img/mm_001.jpg">Marshmallow Dark Green</option>
          <option value="img/mm_002.jpg">Marshmallow Dark Yellow</option>
          <option value="img/mm_003.jpg">Marshmallow Ocean Cliffs</option>
          <option value="img/mm_004.jpg">Marshmallow Desert River</option>
          <option value="img/mm_005.jpg">Marshmallow Ocean Waves</option>
          <option value="img/mm_006.jpg">Marshmallow Pyramid</option>
          <option value="img/mm_007.jpg">Marshmallow Grand Canyon</option>
        </select>
      </div>
    </div><!-- /prefs tab -->
    <div id="tab-rss" class="tab-pane active">
      <div class="row" ng-repeat="item in userRss">
        <div class="four columns">
          <label for="tbRssOneTitle">Title</label>
          <input ng-model="item.title" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
        <div class="eight columns">
          <label for="tbRssOneLink">URL</label>
          <input ng-model="item.url" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
      </div>
    </div><!-- /rss tab -->
    <div id="tab-panel1" class="tab-pane">
      <div class="row" ng-repeat="item in userPanel1">
        <div class="four columns">
          <label>Title</label>
          <input ng-model="item.title" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
        <div class="eight columns">
          <label>URL</label>
          <input ng-model="item.url" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
      </div>
    </div><!-- /panel1 tab -->
    <div id="tab-panel2" class="tab-pane">
      <div class="row" ng-repeat="item in userPanel2">
        <div class="four columns">
          <label>Title</label>
          <input ng-model="item.title" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
        <div class="eight columns">
          <label>URL</label>
          <input ng-model="item.url" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
      </div>
    </div><!-- /panel2 -->
    <div id="tab-panel3" class="tab-pane">
      <div class="row" ng-repeat="item in userPanel3">
        <div class="four columns">
          <label>Title</label>
          <input ng-model="item.title" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
        <div class="eight columns">
          <label>URL</label>
          <input ng-model="item.url" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
      </div>
    </div><!-- /panel3 tab -->
    <div id="tab-panel4" class="tab-pane">
      <div class="row" ng-repeat="item in userPanel4">
        <div class="four columns">
          <label>Title</label>
          <input ng-model="item.title" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
        <div class="eight columns">
          <label>URL</label>
          <input ng-model="item.url" ng-class="userPrefs.primaryColor"
            class="u-full-width" type="text">
        </div>
      </div>
    </div><!-- /panel4 tab -->
  </div>
  <div class="modal-footer">
    <button ng-click="saveAll()" ng-class="userPrefs.accentColor" type="button"
      class="btn" id="btn-modal-save">
      Save
    </button>
  </div>
</div>
</div>
<script src="js/jquery/jquery-2.1.4.min.js"></script>
<script src="js/material.js"></script>
<script src="js/storage.js"></script>
<script src="js/storageModel.js"></script>
<script src="js/rssService.js"></script>
</body>
</html>
