
/* GLOBAL SETTINGS
   ----------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
html, body{
	margin: 0;
	padding: 0;
	background-color: #1b1b1b;
	background-image: url('bg.jpg');
	background-repeat: no-repeat ;
	color: #FFFFFF;
	font-size: 13px;
}

* {
	font-family: 'Open Sans', serif;
	font-weight: 300;
}

#container {
	position: absolute;
	padding: 0 20px 0 20px;
	top: 15%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 400px;
}

h3 {
	font-size: 15px;
	/*font-variant: small-caps;*/
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}

/* Search Input Box */
input 	{
	display: inline;
	text-align: center;
	margin-left: 30px;
	border: none;
	background: rgba(255,255,255,0.1);
	color: #fff;
	width: 86%;
	font-size: 14px;
}

a {
	font-size: 13px;
	/*font-variant: small-caps;*/
	text-decoration: none;
}

a:link{	color: rgba(255,255,255,0.3); }
a:visited{ color: rgba(255,255,255,0.3); }
a:hover{ color: rgba(255,255,255,0.45); }
form { 	display: inline; }

/* CONTENT
   ----------------------------- */
#header {
    	-webkit-box-shadow: 1px 1px 20px 0px #000;
    	-moz-box-shadow: 1px 1px 20px 0px #000;
    	box-shadow: 1px 1px 20px 0px #000;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.8);
	margin: 8px 4px;
	padding: 8px;
}

#header:hover {
	background-color: rgba(0,0,0,0.85);
	border: 1px solid rgba(0,0,0,0.85);
}


#links {
	display: -moz-box;
	display: -webkit-box;
	width: 100%;
}

.linksbox {
    	-webkit-box-shadow: 1px 1px 20px 0px #000;
    	-moz-box-shadow: 1px 1px 20px 0px #000;
   	box-shadow: 1px 1px 20px 0px #000;
   	-moz-box-flex: 1;	
	-webkit-box-flex: 1;
	margin: 0px 4px;
	padding: 8px 8px 8px 8px;
	background-color: rgba(0,0,0,0.8);
	border: 1px solid rgba(0,0,0,0.3);
}

.linksbox:hover {
	background-color: rgba(0,0,0,0.85);
	border: 1px solid rgba(0,0,0,0.85);
}

.linksbox a{
	display: block;	
}


.title {
	padding: 0;
	color: rgba(255,255,255,0.45);
}

#rss {
	display: -moz-box;
	display: -webkit-box;
	width: 100%;
	margin: 8px 0px;
}

#rss span {
	display: none;
}
.rssbox {
   	-webkit-box-shadow: 1px 1px 20px 0px #000;
    	-moz-box-shadow: 1px 1px 20px 0px #000;
    	box-shadow: 1px 1px 20px 0px #000;
    	-moz-box-flex: 1;	
	-webkit-box-flex: 1;
	margin: 0px 4px;
	padding: 8px 8px 8px 8px;
	background-color: rgba(0,0,0,0.8);
	border: 1px solid rgba(0,0,0,0.3);
}

.rssbox ul, p {
	list-style-type:none!important;
	padding:0;
	margin: 0;
}

.rss-title {
	font-size: 15px;
	padding: 0;
	color:rgba(255, 255, 255, 0.45)!important;
}
.rss-title a:before {
	content: "» ";
}

#clockbox {
	font-size:80pt; 
	font-weight: 100; 
	color: rgba(255,255,255,0.35);
	text-align: center;
}